<h1 [hidden]="countdown < 1" class="countdown">{{countdown}}</h1>

<div [hidden]="countdown > 0 || !show">
  <div class="row">
      <div class="column">
        <img src="assets/images/{{question.pathA}}" style="width:100%">
      </div>
      <div class="column">
          <img src="assets/images/{{question.pathB}}" style="width:100%">    
      </div>
    </div>
</div>

<div [hidden]="countdown > 0 || show">
  <div class="row">
      <div class="column">
        <img (click)="selectAnswer(0)" src="assets/images/template/A.jpg" style="width:100%">
      </div>
      <div class="column">
          <img (click)="selectAnswer(1)" src="assets/images/template/B.jpg" style="width:100%">    
      </div>
    </div>
</div>

<button class="both-button" [disabled]="countdown > 0 || show" (click)="selectAnswer(2)"  mat-raised-button color="primary">Both are real</button>