/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: calc(50% - 10px);
    padding: 5px;
    max-width: 256px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row {
    display: flex;
    justify-content: center;
    margin: auto;
     }

  .countdown {
      font-size: 10vw;
      text-align: center;
  }

  .both-button {
    display: block;
    margin: 15px auto;
    padding:15px;
    font-size: 14pt;
  }