/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: calc(50% - 10px);
    padding: 5px;
    max-width: 256px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row {
    margin: auto;
     }

  .countdown {
      font-size: 15vw;
      text-align: center;
  }