<mat-toolbar color="primary">
  <span>Deep Streets</span>
</mat-toolbar>
<div *ngIf="!ready" class="info">
  <h1>
    What is this?
  </h1>
  <p>I am currently testing my master's final project. This involves generating realistic outputs from a map-sketch. Here is an example:</p>
  <figure>
    <img class="example" src="assets/images/examples/59.jpg">
    <figcaption>Input - Fake Output - Target Output</figcaption>
  </figure>
    
  <p>To test these results, I need your help. I am going to show you two different satelite images. One is real and the other isn't. Try to select the one that you think is real. Are you ready?</p>
  <button (click)="readyClicked()" class="ready-button" mat-raised-button color="accent">I'm ready!</button>
</div>  

<div *ngIf="ready">
  <h2>
    Select the real one:
  </h2>
  <app-question (onSelect)="answerSelected($event)" [question]="question"></app-question>
</div>