<h2>
Select the real one:
</h2>
<span>Images classified: {{totalClassified != null? totalClassified : 'Loading...'}}</span>
<mat-slide-toggle
class="toggle-button"
color="accent"
[(ngModel)]="showCountdown">
Show countdown
</mat-slide-toggle>
<br>
<span>Score: {{score != null? score : 'Loading...'}}</span>
<app-question [showCountdown]=showCountdown (onSelect)="answerSelected($event)" [question]="question"></app-question>
<button (click)="getNewQuestion()" class="miss-button" mat-raised-button color="accent">I wasn't looking! 🤞</button>