<h1>
    What is this?
</h1>
<p>I am currently testing my master's final project. This involves generating realistic outputs from a map-sketch. Here is an example:</p>
<div>
    <img class="example" src="assets/images/examples/59.jpg">
    <figcaption>Input - Fake Output - Target Output</figcaption>
</div>

<p>So far I've already got enough results for making some evaluations. Thanks to all of you! Here you have some piecharts for you to enjoy:</p>

<div class="row">
    <div class="column">
        <img  src="assets/images/graphs/correctvsfailed.png">
    </div>
    <div class="column">
        <img  src="assets/images/graphs/correctvsfailedonefake.png">
    </div>
</div>

<p>So far, the network tricks you one out of 5 times. Now it should be better since I removed the epochs where the results where not good enough.</p>

<p>Once again, I need your help to test these results. I am going to show you two different satellite images. Try to select the one that you think is real. Some times both of them are! Check them quickly though since you only can check them for one second. 
    <b>Now this is a competition!</b> Don't forget to <b>login to save your results</b> and check your personal score against other people at the rankings page. 
    Are you ready?</p>


<button routerLink='/test' class="ready-button" mat-raised-button color="accent">I'm ready!</button>
    